body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    display: flex;
}

.sidebar {
    width: 230px;
    background: #fff;
    height: 100vh;
    border-right: 1px solid #e6e6e6;
    padding: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    color: #667085;
}

.menu li.active {
    background: #e9f0ff;
    color: #4a6bff;
}

.content {
    flex: 1;
    padding: 20px 40px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar input {
    width: 260px;
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.top-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.page-title {
    margin: 25px 0;
    font-size: 22px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.stat-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px #00000008;
}

.stat-card h3 {
    margin-top: 10px;
    font-size: 22px;
}


.section-title {
    margin: 30px 0 10px;
    font-size: 18px;
}

.lista_historico {
    background: white;
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0 2px 10px #00000008;
}

.historico {
    display: grid;
    grid-template-columns: 50px 1fr 120px 80px;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #eee;
}

.historico:last-child {
    border-bottom: none;
}

.historico h4 {
    margin: 0;
}

.historico p {
    margin: 0;
    font-size: 12px;
    color: #7b7b8a;
}

.pending {
    color: #ff9800;
}

.completed {
    color: #34c759;
}

.amount {
    font-weight: bold;
    font-size: 16px;
}

.negative {
    color: #e75151;
}

.positive {
    color: #3bbd7c;
}

.chart-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px #00000008;
    margin-top: 20px;
}
